@{
    ViewData["Title"] = "Home Page";    //cshtml格式，可以插入C#代码，是partial类的一部分，最终编译成C#代码与后台类合并到一起
}

<div class="text-center">
    @* html代码 *@
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
